@model List<WebApp.Models.Client>
@{
    ViewBag.Title = "Таблица клиентов";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    ФИО
                </td>
                <td>
                    Номер
                </td>
                <td>
                    Паспорт
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.Fio
                </td>
                <td>
                    @elem.Number
                </td>
                <td>
                    @elem.Pasport
                </td>
            </tr>
        }
    </table>
</div>
