@model List<WebApp.Models.Employee>
@{
    ViewBag.Title = "Таблица работников";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    ФИО
                </td>
                <td>
                    Должность
                </td>
                <td>
                    Дата начала работы
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.Fio
                </td>
                <td>
                    @elem.Position
                </td>
                <td>
                    @elem.DateOfWorkStart
                </td>
            </tr>
        }
    </table>
</div>
