@model List<WebApp.Models.RentalRecordViewModel>
@{
    ViewBag.Title = "Таблица записей проката";
}

@ViewBag.Title
:
<div>
    <table border="1">
        <thead>
            <tr>
                <td>
                    Id
                </td>
                <td>
                    ФИО клиента
                </td>
                <td>
                    Дата взятия
                </td>
                <td>
                    Дата возврата
                </td>
                <td>
                    Оплачено?
                </td>
                <td>
                    Возвращено?
                </td>
                <td>
                    Название фильма
                </td>
                <td>
                    ФИО сотрудника
                </td>
            </tr>
        </thead>
        @foreach (var elem in Model)
        {
            <tr>
                <td>
                    @elem.Id
                </td>
                <td>
                    @elem.ClientFIO
                </td>
                <td>
                    @elem.DateOfRent
                </td>
                <td>
                    @elem.DateOfReturn
                </td>
                @if (elem.PaymentCheck == 1)
                {
                    <td>
                        Да
                    </td>
                }
                else
                {
                    <td>
                        Нет
                    </td>
                }
                @if (elem.ReturnCheck == 1)
                {
                    <td>
                        Да
                    </td>
                }
                else
                {
                    <td>
                        Нет
                    </td>
                }
                <td>
                    @elem.DiscName
                </td>
                <td>
                    @elem.EmployeeFIO
                </td>
            </tr>
        }
    </table>
</div>
